.searchBox {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 226, 226);
  position: fixed;
  top: 0%;
  left: 0%;
}
.searchBox input[type="text"] {
  box-shadow: 0 0 5px rgb(80, 80, 80);
  background-color: white;
  border: none;
  color: rgb(76, 74, 74);
  width: 50%;
  outline: none;
  border-radius: 0%;
  font: 300 1.1rem cursive;
  box-sizing: border-box;
  height: 8%;
}
.searchBox input[type="submit"] {
  box-shadow: 0 0 5px rgb(80, 80, 80);
  background-color: tomato;
  border: none;
  color: white;
  width: 10%;
  border-radius: 0%;
  font: 300 1.1rem "Roboto";
  height: 8%;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.5s;
}
.searchBox input[type="submit"]:hover {
    background-color: rgb(62, 62, 248);
  
}
